# Colibri iMX6/Apalis iMX6
# U-Boot environment is stored at the end of the first eMMC boot partition
# hence use a negative value. The environment is just in front of the config
# block which occupies the last sector (hence -0x200)

# Block device name	Device offset	Env. size
/dev/mmcblk0boot0	-0x2200		0x2000
