{
    "objects": [
        [
            {
                "chunk-size": 1024,
                "count": -1,
                "filename": "u-boot-dtb.imx",
                "install-condition": "version-diverges",
                "install-condition-pattern-type": "u-boot",
                "mode": "raw",
                "seek": 2,
                "skip": 0,
                "target": "/dev/disk/by-path/platform-30b60000.usdhc",
                "target-type": "device",
                "truncate": false
            },
            {
                "filename": "$IMAGE_BASENAME-$MACHINE.tar.xz",
                "filesystem": "ext4",
                "format-options": "-L system_a",
                "format?": true,
                "mode": "tarball",
                "target": "/dev/disk/by-label/system_a",
                "target-path": "/",
                "target-type": "device"
            }
        ],
        [
            {
                "chunk-size": 1024,
                "count": -1,
                "filename": "u-boot-dtb.imx",
                "install-condition": "version-diverges",
                "install-condition-pattern-type": "u-boot",
                "mode": "raw",
                "seek": 2,
                "skip": 0,
                "target": "/dev/disk/by-path/platform-30b60000.usdhc",
                "target-type": "device",
                "truncate": false
            },
            {
                "filename": "$IMAGE_BASENAME-$MACHINE.tar.xz",
                "filesystem": "ext4",
                "format-options": "-L system_b",
                "format?": true,
                "mode": "tarball",
                "target": "/dev/disk/by-label/system_b",
                "target-path": "/",
                "target-type": "device"
            }
        ]
    ],
    "product": "",
    "supported-hardware": [
        "$MACHINE"
    ],
    "version": null
}
