{
    "objects": [
        [
            {
                "filename": "6x_bootscript-$MACHINE",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/6x_bootscript",
                "target-type": "device"
            },
            {
                "filename": "$IMAGE_BASENAME-$MACHINE.tar.xz",
                "filesystem": "ext4",
                "format?": true,
                "mode": "tarball",
                "target": "/dev/mmcblk0p2",
                "target-path": "/",
                "target-type": "device"
            }
        ],
        [
            {
                "filename": "6x_bootscript-$MACHINE",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/mmcblk0p1",
                "target-path": "/6x_bootscript",
                "target-type": "device"
            },
            {
                "filename": "$IMAGE_BASENAME-$MACHINE.tar.xz",
                "filesystem": "ext4",
                "format?": true,
                "mode": "tarball",
                "target": "/dev/mmcblk0p3",
                "target-path": "/",
                "target-type": "device"
            }
        ]
    ],
    "product": "",
    "supported-hardware": [
        "$MACHINE"
    ],
    "version": null
}
