{
    "objects": [
        [
            {
                "chunk-size": 512,
                "count": -1,
                "filename": "SPL",
                "install-condition": "always",
                "mode": "raw",
                "seek": 2,
                "skip": 0,
                "target": "/dev/mmcblk2",
                "target-type": "device",
                "truncate": false
            },
            {
                "chunk-size": 1024,
                "count": -1,
                "filename": "u-boot.img",
                "install-condition": "version-diverges",
                "install-condition-pattern-type": "u-boot",
                "mode": "raw",
                "seek": 69,
                "skip": 0,
                "target": "/dev/mmcblk2",
                "target-type": "device",
                "truncate": false
            },
            {
                "filename": "$IMAGE_BASENAME-$MACHINE.tar.xz",
                "filesystem": "ext4",
                "format?": true,
                "mode": "tarball",
                "target": "/dev/mmcblk2p1",
                "target-path": "/",
                "target-type": "device"
            }
        ],
        [
            {
                "chunk-size": 512,
                "count": -1,
                "filename": "SPL",
                "install-condition": "always",
                "mode": "raw",
                "seek": 2,
                "skip": 0,
                "target": "/dev/mmcblk2",
                "target-type": "device",
                "truncate": false
            },
            {
                "chunk-size": 1024,
                "count": -1,
                "filename": "u-boot.img",
                "install-condition": "version-diverges",
                "install-condition-pattern-type": "u-boot",
                "mode": "raw",
                "seek": 69,
                "skip": 0,
                "target": "/dev/mmcblk2",
                "target-type": "device",
                "truncate": false
            },
            {
                "filename": "$IMAGE_BASENAME-$MACHINE.tar.xz",
                "filesystem": "ext4",
                "format?": true,
                "mode": "tarball",
                "target": "/dev/mmcblk2p2",
                "target-path": "/",
                "target-type": "device"
            }
        ]
    ],
    "product": "",
    "supported-hardware": [
        "$MACHINE"
    ],
    "version": null
}
